<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO WORLD</title>

    <!-- Reset CSS -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"> -->

</head>
<body>
    <main>
        <h1>Hello World!</h1>
        <p>Olá se você está vendo esse "Hello World!" parabéns você acessou uma área secreta...</p>
        <br>
        <hr>
        <ul>
            <h2>Status:</h2>
            <li><p>SYSTEM NAME: {{ system_name }}</p></li>
        </ul>
    </main>
    
</body>
</html>